<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eTickets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/eTickets.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="d-flex w-75 ps-3">
                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">eTickets</a>
                <a class="navbar-brand" asp-controller="Movies" asp-action="Index">
                    <i class="badge-info bi-film"></i>
                    Filmes
                </a>
                <div class="dropdown">
                    <button class="btn dropdown-toggle navbar-brand" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="badge-info bi-gear"></i>
                        Gerenciar
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" asp-controller="Cinemas" asp-action="Index">
                                <i class="bi bi-camera-reels"></i>
                                Cinemas
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Producers" asp-action="Index">
                                <i class="bi bi-headset"></i>
                                Produtores
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-controller="Actors" asp-action="Index">
                                <i class="bi bi-person-square"></i>
                                Atores
                            </a>
                       </li>
                    </ul>
                </div>
            </div>
            <form class="form d-flex my-2 my-lg-0" asp-controller="Movies" asp-action="" style="padding-right: 25px">
                <input name="searchString" class="form-control" placeholder="Procurar filme" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - eTickets
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
