<div class="row">
    <div class="col-md text-center">
        <h1 class="text-info">Ocorreu um erro ao processar sua página.</h1>
        <a class="btn btn-primary" asp-controller="Movies" asp-action="Index">Voltar à página principal</a>
    </div>
</div>