@model Actor

@{
    ViewData["Title"] = "Deletar ator";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Deseja deletar este ator?</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-2 text-center">
                        <img id="ProfilePicturePreview" style="max-width: 150px;"/>
                    </div>
                    <div class="mb-2">
                        <label asp-for="ProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProfilePictureURL" class="form-control" readonly/>
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" readonly/>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" class="form-control" readonly/>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="">
                        <form asp-action="DeleteConfirmed">
                            <input hidden asp-for="Id" />
                            <button class="btn btn-outline-danger float-end" type="submit">Deletar</button>
                        </form>
                        <a class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
                    </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    
    $(document).ready(function () {
        let output = document.getElementById("ProfilePicturePreview");
        output.src = $("#ProfilePictureURL").val();
    })
        
    </script>
}