@model Actor

@{
    ViewData["Title"] = "Editar ator";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Editar <strong>@Model.FullName</strong></h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-2 text-center">
                        <img id="ProfilePicturePreview" style="max-width: 150px;"/>
                    </div>
                    <div class="mb-2">
                        <label asp-for="ProfilePictureURL" class="control-label"></label>
                        <input asp-for="ProfilePictureURL" class="form-control"/>
                        <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control"/>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="mb-2">
                        <label asp-for="Bio" class="control-label"></label>
                        <input asp-for="Bio" class="form-control"/>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>

                    <div class="">
                        <input class="btn btn-outline-success float-end" type="submit">Salvar</input>
                        <a class="btn btn-outline-secondary" asp-action="Index">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    
    $(document).ready(function () {
        let output = document.getElementById("ProfilePicturePreview");
        output.src = $("#ProfilePictureURL").val();
    })
    
    $("#ProfilePictureURL").on("change", function() {
        let output = document.getElementById("ProfilePicturePreview");
        output.src = $(this).val();
    })
        
    </script>
}